rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data
    }

    function isOwner(userId) {
      return request.auth.uid == userId
    }

    function isAdmin() {
    	return getUserData().admin
    }

  	function isPending() {
    	return getUserData().pending
    }

    function isSignedIn() {
      return request.auth != null;
    }

    match /students/{student=**} {
    	allow read: if isSignedIn() && isPending() == false;
	    allow write: if isAdmin();
    }

     match /suggestions/{suggestion=**} {
    	allow read: if isSignedIn() && isPending() == false;
	    allow write: if isSignedIn() && isPending() == false;
    }

    match /projects/{project=**} {
    	allow read: if isSignedIn() && isPending() == false;
	    allow write: if isSignedIn() && isPending() == false;
    }

    match /users/{userId} {
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isAdmin();
    }
  }
}

