.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.4rem;
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.iconWrapper {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1rem;
}

.button img {
  width: 100%;
  height: 100%;
}

.github,
.github:visited {
  background-color: #333;
  color: #fff;
}

.github:hover,
.github:focus {
  color: #fff;
  background-color: #1f2937;
}
