.dashboard {
  min-height: calc(100% - 8rem) !important;
  height: calc(100% - 8rem);
}

.filters {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
}

.content-wrapper {
  display: flex;
  height: calc(100% - 8rem);
  align-items: stretch;
}

.student-list,
.student-detail {
  height: 100%;
}

.student-list {
  width: 28%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-size: 1.5rem;
}

.student-detail {
  width: 72%;
  padding: 0 2rem;
}
