html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
}

.button--seamless {
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.students {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  width: 30%;
}

.students__student {
  padding: 1.6rem;
  text-align: left;
  transition: .3s background-color ease-in-out;
}

.students__student:hover {
  background-color: #E6E6E6;
  padding: 1.6rem;
  cursor: pointer;
}

.student-detail {
  padding: 2rem;
}
