.dashboard {
  /* account for height of header */
  min-height: calc(100% - 10rem) !important;
  height: calc(100% - 10rem);
}

.content-wrapper {
  display: flex;
  height: 100%;
  align-items: stretch;
  --width-list: 40rem;
  --height-filters: 24rem;
}

.student-list {
  position: relative;
  width: var(--width-list);
  height: 100%;
  font-size: 1.5rem;
}

.student-list ol {
  list-style-type: none;
  padding: 0;
  margin: calc(var(--height-filters) + 1rem) 0 0;
  /* account for extra margin*/
  height: calc(100% - var(--height-filters) - 1rem);
  font-size: 1.5rem;
  background-color: var(--color-off-white);
  overflow-y: scroll;
}

.student-detail {
  width: calc(100% - var(--width-list));
  height: 100%;
  overflow-y: scroll;
}
