.card {
  text-align: left;
  margin-bottom: 1.5rem;
}

.wrapper {
  padding: 2rem;
  position: relative;
  background: var(--color-white);
  transition: all 0.2s ease-in-out;
}

.active {
  border-left: 0.6rem solid var(--color-purple);
}

.active.status-no,
.active.status-maybe,
.active.status-yes {
  color: var(--color-dark-blue);
}

.suggestions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  display: flex;
  background: var(--color-white);
}

.name {
  display: flex;
  align-items: center;
}

.suggestion-amount {
  margin-left: auto;
}

.suggestions span {
  transition: all 0.3s ease;
  border-radius: 0.2rem;
}

.suggestions-yes,
.status-yes {
  background-color: var(--color-yes);
}

.suggestions-maybe,
.status-maybe {
  background-color: var(--color-maybe);
}

.suggestions-no,
.status-no {
  background-color: var(--color-no);
}

.suggestions .suggestions-empty {
  background-color: lightgray;
  flex: 1;
}
