.student-detail {
  position: relative;
  padding: 0 2rem 4rem 2rem;
}

.student-detail header {
  position: fixed;
  width: 71%;
  background: var(--color-white);
  display: flex;
  align-items: center;
}

.actions {
  margin-left: auto;
  margin-right: 2rem;
  flex-flow: column;
  max-width: 41rem;
}

.actions > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  width: 12rem;
  justify-content: center;
  white-space: nowrap;
}

.selectors {
  width: 25.6rem;
  flex: none;
}

.actions > div:first-of-type {
  margin-bottom: 1rem;
}

.actions p {
  font-size: 1.4rem;
  margin: 0;
}

.student-detail h4 {
  margin: 3rem 0 0;
}

.student-detail section {
  margin-bottom: 4.8rem;
}

.student-detail section:first-of-type {
  margin-top: 10rem;
}

.student-detail p {
  max-width: 80rem;
}

.student-detail li {
}

.empty,
.name {
  margin: 0;
  font-size: 2rem;
}

.reasoning h2 {
  font-size: 1.8rem;
  margin-top: 0;
}
.reasoning p {
  font-size: 1.4rem;
}

.newlines {
  white-space: pre-line;
}

.true-false {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.true-false li {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 1rem;
}

.icon svg {
  display: block;
  margin: auto;
}

.socials {
  display: flex;
  align-items: center;
}

.socials a {
  margin-left: 1.6rem;
}

.icon-container {
  width: 2.4rem;
  display: flex;
  align-items: center;
}

.icon-container img {
  max-width: 100%;
}

.applyingFor {
  position: fixed;
  background: var(--color-white);
  right: 2rem;
  bottom: 0.5rem;
  z-index: 2;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}
